<!DOCTYPE html>
<html>
  <head>
    <title>Stock List</title>
    <style>
      /* A flexbox layout segítségével az elemek egymás mellé kerülnek */
      .stock-item {
        display: flex;
        gap: 10px; /* Tetszőleges távolság beállítása */
      }
    </style>
  </head>
  <body>
    <h1>Stocks</h1>
    <ul>
      {% for stock in stocks %}
      <li>
        <!-- A stock-item osztályt használjuk a két elem egymás mellé rendezéséhez -->
        <div class="stock-item">
          <a href="{% url 'stock_detail' stock.symbol %}">{{ stock.name }}</a>
          <a href="{% url 'stock_analysis' stock.symbol %}">Stock Analysis</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
